doctype html
html(lang='en')
    head
        title Note manager
        link(rel='stylesheet', href='/static/style.css')
    body 
        div.container
            nav.nav
                a(href='/') Note manager 
                a(href='/create') Create
                a(href='/archived') Archived notes
            block number1 
